<!DOCTYPE>
<html lang="zh-cn" data-scribe-reduced-action-queue="true">
</head>
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-transform"/>
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <title>{{ page.title }}</title>
  {% include head.html %}
</head>
<body class="bg-grey" gtools_scp_screen_capture_injected="true">
  <div id="MathJax_Message" style="display: none;"></div>
  {% include header.html %}
  <main>
    <div class="main-content">
      <div class="post-header-thumb">
		    <div class="post-header-thumb-container">
          <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	        <div class="post-data">
      	    <time datetime="{{ page.date | date: '%F %H:%M:%S'}}" itemprop="datePublished">发布时间：{{ page.date | date: "%F %H:%M:%S"}}</time>
            <a href="/tags#{{ page.category }}" title="访问 {{ page.category }}" data-hover="博客分类: {{ page.category }}">博客分类: {{ page.category }}</a>
            <a href="#read"> 阅读次数: comments</a>
      		</div>
          <div class="post-tags">
            {% unless page.tags == empty %}
            {% assign tags_list = page.tags %}
            {% if tags_list.first[0] == null %}
            {% for tag in tags_list %}
            <a href="/tags#{{ tag }}" title="访问{{ tag }}" data-hover="{{ tag }}">
              {{ tag }} <span>({{ site.tags[tag].size }})</span>
              {% unless forloop.last %}{% endunless %}
            </a>
            {% endfor %}
            {% else %}
            {% for tag in tags_list %}
                <a href="/tags#{{ tag[0] }}" title="访问 {{ tag[0] }}" data-hover="{{tag[0]}}">
                  {{ tag[0] }} <span>({{ tag[1].size }})</span>
                  {% unless forloop.last %}{% endunless %}
                </a>
            {% endfor %}
            {% endif %}
            {% assign tags_list = nil %}
            {% endunless %}
	         </div>
        </div>
      </div>

      <div class="markdown-body">
        <div>
          <img src="{{page.cover.url}}" alt="">
          <p style="text-align:right">{{page.cover.from}}</p>
        </div>
        {{ content }}
      </div>
    </div>
  </main>
  {% include foot.html %}
</body>
</html>
